packages/frontend/@n8n/chat/resources/telegram-inventory-workflow.json
{
	"name": "Telegram Inventory Assistant",
	"nodes": [
		{
			"parameters": {
				"updates": ["message"]
			},
			"id": "c6a4b8f0-3d05-4871-9170-3f3e3d830e6a",
			"name": "Telegram Voice Trigger",
			"type": "n8n-nodes-base.telegramTrigger",
			"typeVersion": 1.2,
			"position": [-1200, 20],
			"credentials": {
				"telegramApi": {
					"id": "telegram-account-id",
					"name": "Telegram account"
				}
			}
		},
		{
			"parameters": {
				"mode": "manual",
				"assignments": {
					"assignments": [
						{
							"id": "c0a09e05-598e-4e56-bfce-9edb5e62a8e9",
							"name": "query",
							"value": "={{ $json.message?.text || '' }}",
							"type": "string"
						}
					]
				},
				"options": {}
			},
			"id": "a7a8d66d-4e32-4894-9a0c-9d3914e7d169",
			"name": "Pass Through Text Message",
			"type": "n8n-nodes-base.set",
			"typeVersion": 3.4,
			"position": [-920, 20]
		},
		{
			"parameters": {
				"model": "gpt-4o-mini",
				"options": {
					"temperature": 0,
					"systemMessage": "Magyar nyelvű készletasszisztens vagy. A felhasználó üzenete alapján készíts strukturált lekérdezést a készlet Google Sheets táblához a megadott JSON séma szerint. Mindig JSON-t adj vissza a következő mezőkkel: action, sheetName, filters, columns, emailTo, calendarEvent, summary."
				}
			},
			"id": "c0ca334e-4943-4dd3-a6b8-3287b1933b75",
			"name": "Anna, AI asszisztens",
			"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
			"typeVersion": 1,
			"position": [-600, 20],
			"credentials": {
				"openAiApi": {
					"id": "openai-account-id",
					"name": "OpenAI account"
				}
			}
		},
		{
			"parameters": {
				"schemaType": "fromJson",
				"jsonSchemaExample": "{\n  \"action\": \"lookup\",\n  \"sheetName\": \"Készlet\",\n  \"filters\": [{ \"field\": \"Kód\", \"operator\": \"contains\", \"value\": \"123\" }],\n  \"columns\": [\"Kód\", \"Név\", \"Mennyiség\"],\n  \"emailTo\": null,\n  \"calendarEvent\": null,\n  \"summary\": \"Rövid összefoglaló a kérésről\"\n}"
			},
			"id": "b0b38f7e-f5fa-44b6-88cb-28580bcf316b",
			"name": "Structured Output Parser",
			"type": "@n8n/n8n-nodes-langchain.outputParserStructured",
			"typeVersion": 1.3,
			"position": [-320, 20]
		},
		{
			"parameters": {
				"resource": "sheet",
				"operation": "read",
				"documentId": {
					"__rl": true,
					"mode": "url",
					"value": "<__PLACEHOLDER_VALUE__Google Sheets URL__>"
				},
				"sheetName": {
					"__rl": true,
					"mode": "name",
					"value": "Készlet"
				},
				"filtersUI": {},
				"options": {
					"dataLocationOnSheet": {
						"values": {
							"rangeDefinition": "specifyRangeA1",
							"range": "A1:U35000"
						}
					}
				}
			},
			"id": "5cba330f-21af-441e-900c-cbef2f6f3d9a",
			"name": "Get row(s) in sheet",
			"type": "n8n-nodes-base.googleSheets",
			"typeVersion": 4.7,
			"position": [-140, -160],
			"credentials": {
				"googleSheetsOAuth2Api": {
					"id": "google-sheets-account-id",
					"name": "Google Sheets account"
				}
			}
		},
		{
			"parameters": {
				"resource": "sheet",
				"operation": "read",
				"documentId": {
					"__rl": true,
					"mode": "url",
					"value": "<__PLACEHOLDER_VALUE__Google Sheets URL__>"
				},
				"sheetName": {
					"__rl": true,
					"mode": "name",
					"value": "Készlet"
				},
				"filtersUI": {},
				"options": {
					"dataLocationOnSheet": {
						"values": {
							"rangeDefinition": "specifyRangeA1",
							"range": "A35001:U70000"
						}
					}
				}
			},
			"id": "6c7202de-7eb4-42d4-9e21-2ee0c792fe09",
			"name": "Get row(s) in sheet1",
			"type": "n8n-nodes-base.googleSheets",
			"typeVersion": 4.7,
			"position": [120, 0],
			"credentials": {
				"googleSheetsOAuth2Api": {
					"id": "google-sheets-account-id",
					"name": "Google Sheets account"
				}
			}
		},
		{
			"parameters": {
				"resource": "sheet",
				"operation": "read",
				"documentId": {
					"__rl": true,
					"mode": "url",
					"value": "<__PLACEHOLDER_VALUE__Google Sheets URL__>"
				},
				"sheetName": {
					"__rl": true,
					"mode": "name",
					"value": "Készlet"
				},
				"filtersUI": {},
				"options": {
					"dataLocationOnSheet": {
						"values": {
							"rangeDefinition": "specifyRangeA1",
							"range": "A70001:U111000"
						}
					}
				}
			},
			"id": "ce26d8c8-58cd-4af5-86b5-9eb5fb2a35b9",
			"name": "Get row(s) in sheet2",
			"type": "n8n-nodes-base.googleSheets",
			"typeVersion": 4.7,
			"position": [120, 180],
			"credentials": {
				"googleSheetsOAuth2Api": {
					"id": "google-sheets-account-id",
					"name": "Google Sheets account"
				}
			}
		},
		{
			"parameters": {
				"language": "JavaScript",
				"jsCode": "const gather = (inputIndex) => $input.all(inputIndex).flatMap((item) => item.json?.data || item.json || []);\nconst rows = [\n  ...gather(0),\n  ...gather(1),\n  ...gather(2),\n];\n\nconst intent = ($input.all(3)[0]?.json) || {};\nconst filters = Array.isArray(intent.filters) ? intent.filters : [];\nconst columns = Array.isArray(intent.columns) ? intent.columns : [];\nconst sheetName = intent.sheetName || 'Készlet';\n\nconst normalize = (value) => {\n  if (value === null || value === undefined) return '';\n  return String(value).toLowerCase();\n};\n\nconst matchRow = (row) => {\n  return filters.every((filter) => {\n    const field = filter.field || '';\n    const operator = (filter.operator || 'contains').toLowerCase();\n    const value = filter.value ?? '';\n    const target = normalize(row[field]);\n    const compare = normalize(value);\n\n    if (!compare) return true;\n\n    if (operator === 'equals' || operator === '=') {\n      return target === compare;\n    }\n\n    return target.includes(compare);\n  });\n};\n\nconst filtered = rows.filter((row) => matchRow(row));\nconst selectedRows = filtered.map((row) => {\n  if (!columns.length) return row;\n  const projected = {};\n  for (const column of columns) {\n    projected[column] = row[column];\n  }\n  return projected;\n});\n\nconst limitedSamples = selectedRows.slice(0, 3);\nconst totalQuantity = filtered.reduce((sum, row) => {\n  const qty = Number(row['Mennyiség'] ?? row['Quantity'] ?? 0);\n  return sum + (Number.isFinite(qty) ? qty : 0);\n}, 0);\n\nconst summaryLines = [];\nsummaryLines.push(`Talált tételek: ${filtered.length}`);\nif (filtered.length) {\n  summaryLines.push(`Becsült összmennyiség: ${totalQuantity}`);\n  summaryLines.push('Minták:');\n  limitedSamples.forEach((row, index) => {\n    const name = row['Név'] ?? row['Name'] ?? 'Ismeretlen név';\n    const code = row['Kód'] ?? row['Code'] ?? '';\n    const qty = row['Mennyiség'] ?? row['Quantity'] ?? '';\n    summaryLines.push(`${index + 1}. ${name} (Kód: ${code}, Mennyiség: ${qty})`);\n  });\n} else {\n  summaryLines.push('Nem találtam a megadott feltételeknek megfelelő tételt. Próbáld pontosítani a keresést.');\n}\n\nconst summary = [intent.summary || 'Készlet összefoglaló:', ...summaryLines].join('\n');\n\nconst outputItem = selectedRows.length ? selectedRows : [{}];\nreturn outputItem.map((item) => ({\n  json: {\n    ...item,\n    __meta: {\n      summary,\n      emailTo: intent.emailTo || null,\n      sheetName,\n    },\n  },\n}));\n"
			},
			"id": "79d5e632-4d2d-4c88-862c-0b9dd4b918f3",
			"name": "Apply Request to Workbook",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [420, 20]
		},
		{
			"parameters": {
				"operation": "sendMessage",
				"text": "={{ $json['__meta'] && $json['__meta'].summary ? $json['__meta'].summary : 'Valamiért nem tudtam most választ adni, próbáld meg kérlek újra egy kicsit pontosabban megfogalmazva. :)' }}",
				"additionalFields": {
					"chatId": "={{ $node['Telegram Voice Trigger'].json['message']['chat']['id'] }}"
				}
			},
			"id": "b1bb9f1c-d30d-4cad-9a4f-2c0184b63a87",
			"name": "Telegram válasz",
			"type": "n8n-nodes-base.telegram",
			"typeVersion": 1,
			"position": [720, 20],
			"credentials": {
				"telegramApi": {
					"id": "telegram-account-id",
					"name": "Telegram account"
				}
			}
		}
	],
	"connections": {
		"Telegram Voice Trigger": {
			"main": [
				[
					{
						"node": "Pass Through Text Message",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Pass Through Text Message": {
			"main": [
				[
					{
						"node": "Anna, AI asszisztens",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Anna, AI asszisztens": {
			"main": [
				[
					{
						"node": "Structured Output Parser",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Structured Output Parser": {
			"main": [
				[
					{
						"node": "Get row(s) in sheet",
						"type": "main",
						"index": 0
					},
					{
						"node": "Get row(s) in sheet1",
						"type": "main",
						"index": 0
					},
					{
						"node": "Get row(s) in sheet2",
						"type": "main",
						"index": 0
					},
					{
						"node": "Apply Request to Workbook",
						"type": "main",
						"index": 3
					}
				]
			]
		},
		"Get row(s) in sheet": {
			"main": [
				[
					{
						"node": "Apply Request to Workbook",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get row(s) in sheet1": {
			"main": [
				[
					{
						"node": "Apply Request to Workbook",
						"type": "main",
						"index": 1
					}
				]
			]
		},
		"Get row(s) in sheet2": {
			"main": [
				[
					{
						"node": "Apply Request to Workbook",
						"type": "main",
						"index": 2
					}
				]
			]
		},
		"Apply Request to Workbook": {
			"main": [
				[
					{
						"node": "Telegram válasz",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"active": false,
	"settings": {
		"executionOrder": "v1"
	},
	"id": "telegram-inventory-workflow",
	"meta": {
		"templateScope": "global"
	},
	"tags": []
}
